*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.main-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
background: #43cea2;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #185a9d, #43cea2);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #185a9d, #43cea2); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */




}
.container{
    width: 100%;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 35px;

}
.heading{
    text-align: center;
    font-size: 2rem;
    color: #333;
    margin-bottom: 20px;
}
.new-task{
    margin: 0 auto;
    display: block;
    font-size: 1.2rem;
    color: black;
    font-weight: bold;    
}
